server:
  port: 9996

  #spring:
  #   profiles :
  #     active : test

spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/sell?characterEncoding=utf-8&useSSL=false
      # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      #    connectionProperties: druid.stat.mergeSql =true
    druid.stat.slowSqlMillis : 5000

      # 合并多个DruidDataSource的监控数据
      #spring.datasource.useGlobalDataSourceStat=true

mybatis:
  type-aliases-package: com.hlc.order.entity
  config-locations: classpath:mapper/mybatis-config.xml
  mapper-locations: classpath:com/hlc/order/mappering/*.xml
  mapper:
    mappers:
        - tk.mybatis.springboot.util.MyMapper
    not-empty: false
    identity: MYSQL

      #pagehelper分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql