<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.hlc.sell.mapper.UserMapper">

    <!-- insert user -->
    <insert id = "insert" parameterType="com.hlc.sell.entity.User">
        INSERT INTO USER(Name,Age) VALUES(#{name},#{age});
    </insert>

    <!-- update user -->
    <update id="update" parameterType="com.hlc.sell.entity.User">
        UPDATE USER SET Name=#{name} , Age=#{age}  WHERE Name=#{name}
    </update>

    <!-- find user -->
    <select id="find" parameterType="String" resultType="com.hlc.sell.entity.User">
        SELECT Name,Age FROM USER WHERE Name=#{name}
    </select>

    <!-- delete user -->
    <delete id="delete" parameterType="String">
        DELETE FROM USER WHERE Name=#{name}
    </delete>
</mapper>