<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hlc.sell.mapper.LearnMapper">

    <resultMap id="BaseResultMap" type="com.hlc.sell.entity.LearnResource">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id, order_id, product_id, product_name, product_price, product_quantity, product_icon,
        create_time, update_time
    </sql>
    <!-- insert user -->
    <insert id = "add" parameterType="com.hlc.sell.entity.LearnResource">
        insert into learn_resource(author, title,url) values(#{author},#{title},#{url});
    </insert>

    <!-- update user -->
    <update id="update" parameterType="java.lang.String">
       update learn_resource set author=#{author},title=#{title},url=#{url} where id = #{id};
    </update>

    <!-- find user -->
    <delete id="deleteByIds" parameterType="java.lang.Integer" >
        delete  FROM learn_resource WHERE id=#{id}
    </delete>

    <!-- select user -->
    <select id="queryLearnResouceById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from learn_resource where id=#{id}
    </select>

    <select id="queryLearnResouceList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from learn_resource
    </select>
</mapper>